.box-layout{
    background-image: url("/img/login.jpg");
    opacity: 0.8;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center
}
.login-box{
    text-align: center;
    width: 350px;
    background-color:fade-out($color: white, $amount: .15);
    border-radius: 5px;
    padding: 10px 30px 70px 30px;
 
}
.login-layout__title{
    margin: 40px 0 70px 0;
    line-height: 1
}
.box-layout p{
    margin-bottom:50px;
}