.menu-bar{
    background: #2c4737;
}
.logo{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
h1{
    margin: 0;
}
}
.header-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
}